* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  color: #FFFFFF;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #1B0829;
}

.app {
  background-color: #1B0829;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #1B0829;
}

.text-item {
  padding: 14px 20px;
  background-color: #281637;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  font-size: 20px;
}

.loading {
  width: 72px;
}

.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.auth-container .auth-title {
  position: relative;
  bottom: 50px;
  font-size: calc(1em + 2vw);
}
.auth-container .auth-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 290px;
  padding: 16px 36px;
  border-radius: 8px;
  background-color: #281637;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.auth-container .auth-btn:hover {
  background-color: #271634;
  box-shadow: none;
}
.auth-container .auth-btn:active {
  background-color: #2b1b3b;
  box-shadow: none;
}
.auth-container .auth-btn .auth-btn_title {
  font-weight: 700;
}

.game-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  max-width: 720px;
}
.game-container .planet {
  cursor: pointer;
  width: calc(10em + 10vw);
  height: calc(10em + 10vw);
  transition: all 0.05s ease-in-out;
}
.game-container .planet:active {
  transform: scale(1.05);
}
.game-container .infobar {
  position: absolute;
  top: 16vh;
  font-size: 16px;
}

.shop-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  max-width: 720px;
  width: 100%;
}
.shop-container .shopbar-container {
  display: flex;
  justify-content: space-between;
  max-width: 450px;
  width: 100%;
  height: 46px;
}
.shop-container .shopbar-container a {
  height: 20px;
  text-decoration: none;
}
.shop-container .shopbar-container a .shopbar {
  background-color: #22122F;
  color: #888888;
  transition: all 0.1s ease-in-out;
}
.shop-container .shopbar-container a.active > .shopbar {
  background-color: #281637;
  color: #FFFFFF;
}
.shop-container .shop-list {
  position: relative;
  box-sizing: unset;
  height: 50vh;
  overflow: hidden;
  overflow-y: scroll;
  width: 100%;
  max-width: 550px;
}
.shop-container .shop-list::-webkit-scrollbar {
  width: 10px;
}
.shop-container .shop-list::-webkit-scrollbar-thumb {
  background-color: #3B2B48;
  border-radius: 20px;
}
.shop-container .shop-list .shop-item {
  position: relative;
  display: flex;
  margin-bottom: 25px;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  height: 100px;
  padding: 22px 40px;
  border-radius: 8px;
  background-color: #3B2B48;
  transition: all 0.1s ease-in-out;
}
.shop-container .shop-list .shop-item:hover {
  background-color: #2f233a;
}
.shop-container .shop-list .shop-item:active {
  background-color: #352944;
}
.shop-container .shop-list .shop-item .shop-info-main {
  display: flex;
}
.shop-container .shop-list .shop-item .shop-info-main .shop-star_img {
  width: 26px;
  height: 26px;
}
.shop-container .shop-list .shop-item .shop-info-main .shop-info_item {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  justify-content: space-between;
  height: 100%;
}
.shop-container .shop-list .shop-item .shop-info_price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
}
.shop-container .shop-list .shop-item .shop-info_price .shop-price_img {
  width: 24px;
  height: 24px;
}
.shop-container .shop-list .shop-item .shop-info_price .shop-price_price {
  font-size: 16px;
}

.cup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin: 20px;
  max-width: 550px;
}
.cup-container .cup-list {
  position: relative;
  box-sizing: unset;
  height: 50vh;
  margin-top: 40px;
  overflow: hidden;
  overflow-y: scroll;
  width: 100%;
}
.cup-container .cup-list .cup-item {
  position: relative;
  display: flex;
  margin-bottom: 25px;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  height: 100px;
  padding: 22px 40px;
  border-radius: 8px;
  background-color: #3B2B48;
  transition: all 0.1s ease-in-out;
}
.cup-container .cup-list .cup-item:hover {
  background-color: #2f233a;
}
.cup-container .cup-list .cup-item:active {
  background-color: #352944;
}
.cup-container .cup-list .cup-item .cup-info-main {
  display: flex;
}
.cup-container .cup-list .cup-item .cup-info-main .cup-star_img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
.cup-container .cup-list .cup-item .cup-info-main .cup-info_item {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  justify-content: space-between;
  height: 100%;
}
.cup-container .cup-list .cup-item .cup-info_price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
}
.cup-container .cup-list .cup-item .cup-info_price .cup-price_img {
  width: 24px;
  height: 24px;
}
.cup-container .cup-list .cup-item .cup-info_price .cup-price_price {
  font-size: 16px;
}

.navbar-container {
  position: fixed;
  bottom: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 430px;
  width: 80vw;
}
.navbar-container .navbar-item {
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  background-size: calc(2em + 1vw);
  width: calc(2em + 1vw);
  height: calc(2em + 1vw);
}
.navbar-container .navbar-item:hover {
  transform: scale(1.1);
}
.navbar-container .game {
  background-image: url(./widgets/Navbar/img/world_un.png);
}
.navbar-container .game.active {
  background-image: url(./widgets/Navbar/img/world.png);
}
.navbar-container .shop {
  background-image: url(./widgets/Navbar/img/shop_un.png);
}
.navbar-container .shop.active {
  background-image: url(./widgets/Navbar/img/shop.png);
}
.navbar-container .cup {
  background-image: url(./widgets/Navbar/img/cup_un.png);
}
.navbar-container .cup.active {
  background-image: url(./widgets/Navbar/img/cup.png);
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  position: absolute;
  opacity: 1;
  transition: opacity 150ms ease-in;
}

@media (max-width: 462px) {
  .shopbar-container a {
    height: 20px;
    text-decoration: none;
  }
  .shopbar-container a .shopbar {
    background-color: #22122F;
    color: #888888;
    transition: all 0.1s ease-in-out;
  }
  .shopbar-container a.active > .shopbar {
    background-color: #281637;
    color: #FFFFFF;
  }

  .text-item {
    padding: 6px 12px;
    background-color: #281637;
    border-radius: 8px;
    font-size: 16px;
  }

  .navbar-container .navbar-item {
    background-size: calc(1.6em + 1vw);
    width: calc(1.6em + 1vw);
    height: calc(1.6em + 1vw);
  }

  .shop-container .shop-list {
    position: relative;
    box-sizing: unset;
    height: 50vh;
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
    max-width: 550px;
  }
  .shop-container .shop-list .shop-item {
    position: relative;
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    height: 60px;
    font-size: 12px;
    padding: 12px 24px;
    border-radius: 8px;
    background-color: #3B2B48;
    transition: all 0.1s ease-in-out;
  }
  .shop-container .shop-list .shop-item .shop-info_price .shop-price_price {
    font-size: 12px;
  }

  .cup-container .cup-list {
    position: relative;
    box-sizing: unset;
    height: 50vh;
    margin-top: 40px;
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
  }
  .cup-container .cup-list .cup-item {
    margin-bottom: 10px;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    height: 60px;
    font-size: 12px;
    padding: 12px 24px;
    border-radius: 8px;
    background-color: #3B2B48;
    transition: all 0.1s ease-in-out;
  }
  .cup-container .cup-list .cup-item .cup-info-main .cup-star_img {
    width: 35px;
    height: 35px;
  }
  .cup-container .cup-list .cup-item .cup-info-main .cup-info_item {
    margin-left: 10px;
  }
}
@media (max-width: 362px) {
  .text-item {
    padding: 6px 12px;
    background-color: #281637;
    border-radius: 8px;
    font-size: 12px;
  }

  .shop-container .shop-list {
    position: relative;
    box-sizing: unset;
    height: 50vh;
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
    max-width: 550px;
  }
  .shop-container .shop-list .shop-item {
    position: relative;
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    height: 60px;
    font-size: 12px;
    padding: 12px 18px;
    border-radius: 8px;
    background-color: #3B2B48;
    transition: all 0.1s ease-in-out;
  }
  .shop-container .shop-list .shop-item .shop-info-main .shop-info_item {
    margin-left: 8px;
  }
}

/*# sourceMappingURL=style.css.map */
